body {
    background: rgb(130, 130, 130);
}

button {
    font-size: 24px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

button:hover {
    background-color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: rgb(9, 5, 83);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto)
        repeat(5, 80px);
    gap: 4px;
    padding: 1.5em 1em;
    border: 5px solid black;
    border-radius: 8px;
}

#display {
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 4em;
    font-weight: initial;
    margin: 4px 0;
    border: 3px ridge black;
}

#clear {
    background-color: rgb(41, 131, 248);
}

#clear:hover {
    background-color: rgb(68, 202, 255);
}

.btn-special {
    background-color: rgb(133, 133, 133);
}
