button {
    font-size: 24px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto)
        repeat(5, 80px);
    gap: 2px;
    padding: 8px;
    border: 4px solid black;
    border-radius: 8px;
}

#display {
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 4em;
    font-weight: initial;
    margin: 4px 0;
    border: 3px ridge black;
}
